{% extends 'base.html.twig' %}
{% block body %}
    {{ include('player_item/menu_player_item.html.twig')  }}
    <table>
        <tr>
            <th>id</th>
            <th>created_at</th>
            <th>position</th>
            <th>show</th>
        </tr>
        {% for player_item in tabPlayerItems %}
            <tr>
                <td>{{player_item.id}}</td>
                <td>{{player_item.created_at}}</td>
                <td>{{player_item.position}}</td>
                <td><a href={{ path('app_player_item_show',{'id' : player_item.id}) }}><button>show</button></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}